#mclarizi_inputField{
	font-family: Segoe UI, serif;
}

.page1{
	margin: 8px auto;
	float: right;
	padding-left: 0px;
	padding-top: 0px;
}

#mclarizi_googleSignIn{
	margin-bottom: 5px;
}

#mclarizi_instructions{
	font-weight: bold;
}

#mclarizi_Minutes{
	font-weight: normal;
}

#mclarizi_Location{
	font-weight: normal;
}

#mclarizi_schedulePage1{
	height: 146px;
	width: 135px;
}

#mclarizi_schedulePage2{
	height: 196px;
	width: 135px;
}

#mclarizi_timeInput{
	font-weight: normal;
	margin: 10px auto;
}

#mclarizi_locationInput{
	font-weight: normal;
}

#mclarizi_okLabel{
	font-weight: normal;
}

#mclarizi_editScheduleLabel{
	font-weight: normal;
}

#mclarizi_lastEditButton{
	margin-right: 10px;
}

.mclarizi_tableMargin {
	margin-right: 20px;
}


th{
	text-align: center;
}

table{
	 width: 270px;
}

p{
	margin: 0;
}

th{
	font-size: 18px;
	text-decoration: underline;
}